.page {
    padding: 24px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
}

.layout {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.item{
    padding: 1rem;
    color: brown;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 240px;
    text-align: center;
}



    .item-1{
    background-color: purple;

    .item-2{
    background-color: violet;

    .item-3{
    background-color:  fuchsia;
    

    @media (width > 768px){
        .layout{
            flex-direction: column;
        }
    